.grid-container {
    position: relative;
    top: 14rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 14rem);
    grid-template-rows: repeat(4, 12rem);
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-areas:
    "share-button clean-button maintenance-button support-button"
    "catering-button transport-button admin-button pet-button"
    "children-button leisure-button courses-button products-button"
    "jobs-button apprenticeships-button consulting-button diverses-button";
    padding-bottom: 10rem;
}
