.grid-container-home {
    position: relative;
    top: 22rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 18rem);
    grid-template-rows: repeat(1, 16rem);
    grid-column-gap: 8rem;
    grid-row-gap: 4rem;
    grid-template-areas:
    "offer-button search-button";
    padding-bottom: 10rem;
}

.subtitle-home {
    top: 9rem;
    position: relative;
    text-align: center;
    right: 18rem;
    font-size: 3rem;
    font-family: var(--font-jost);
}

.place {
    height: 6rem;
    display: inline-flex;
    align-items: center;
    width: 44%;
    padding-left: 2rem;
    top: 10rem;
    position: relative;
    text-align: center;
    font-size: 3rem;
    font-family: var(--font-jost);
    color: darkgray;
    background: #4F4F4F;
    border-radius: var(--br-base);
}

.icon-home {
    position: relative;
    text-align: center;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
}

.icon-wrapper-home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 75%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 25%;
    left: 0;
    border-radius: var(--br-base) var(--br-base) 0 0;
    background-color: var(--color-teal);
    overflow: hidden;
}

.card-label-home {
    position: relative;
    line-height: 140%;
    font-weight: 600;
    font-size: 1.4rem;
    display: inline-block;
    width: 100%;
}

.category-label-wrapper-home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 25%;
    width: 100%;
    border-radius: 0 0 var(--br-base) var(--br-base);
    background-color: var(--color-darkslategray);
    overflow: hidden;
}
