.page-container {
    /*background-color: #2b2b2b;*/
    width: 100%;
    /*overflow: scroll;*/
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--white);
    font-family: var(--font-work-sans);

}

.grid-container-contact {
    position: relative;
    top: 14rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 14rem);
    grid-template-rows: repeat(1, 12rem);
    grid-column-gap: 8rem;
    grid-row-gap: 4rem;
    grid-template-areas:
    "email-button phone-button form-button"
    "frame-parent frame-parent frame-parent";
    padding-bottom: 10rem;
}

.header {
    display: inline;
    position: relative;
}

.title {
    position: relative;
    top: 2rem;
    text-align: center;
    font-size: 4rem;
    font-family: var(--font-jost);
}

.back-icon-wrapper {
    position: absolute;
    top: 3.4rem;
    left: 26rem;
    width: 8rem;
    height: 5.6rem;
    /*object-fit: cover;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--br-base);
    background-color: var(--color-darkslategray);
}

.back-icon {
    position: relative;
    text-align: center;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

.subtitle {
    top: 8rem;
    position: relative;
    text-align: center;
    font-size: 3rem;
    font-family: var(--font-jost);
}

.icon {
    position: relative;
    text-align: center;
    width: 6rem;
    height: 6rem;
    object-fit: cover;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 75%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 25%;
    left: 0;
    border-radius: var(--br-base) var(--br-base) 0 0;
    background-color: var(--color-teal);
    overflow: hidden;
}

.contact-label {
    position: relative;
    line-height: 140%;
    font-weight: 600;
    display: inline-block;
    width: 100%;
}

.contact-label-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 25%;
    width: 100%;
    border-radius: 0 0 var(--br-base) var(--br-base);
    background-color: var(--color-darkslategray);
    overflow: hidden;
}

.content-1::after {
    content: "\a";
    white-space: pre;
}

.frame-parent {
    grid-area: frame-parent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: 10rem;
    position: relative;
    width: 100%;
    flex-direction: column;
    text-align: center;
    font-size: 2.25rem;
    color: white;
    font-family: var(--font-jost);
}

/*.frame-parent-share {*/
/*    grid-area: frame-parent;*/
/*    display: inline-flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    top: 10rem;*/
/*    position: relative;*/
/*    width: 100%;*/
/*    flex-direction: column;*/
/*    text-align: center;*/
/*    font-size: 2.25rem;*/
/*    color: white;*/
/*    font-family: var(--font-jost);*/
/*    padding-bottom: 30rem;*/
/*}*/

.phone-settings-parent,
.email-settings-parent,
.form-settings-parent {
    border-radius: var(--br-base);
    background-color: #4F4F4F;
    width: 32rem;
    height: 6rem;
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: row;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    gap: 2.75rem;
}

.minus-icon,
.plus-icon {
    width: 3.75rem;
    height: 3.75rem;
    object-fit: cover;
}

.minus-icon,
.plus-icon {
    position: relative;
}

.frame-parent,
.phone-settings-parent,
.email-settings-parent,
.form-settings-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container-contact-select {
    position: relative;
    top: 20rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 14rem);
    grid-template-rows: repeat(1, 12rem);
    grid-column-gap: 10rem;
    grid-row-gap: 4rem;
    grid-template-areas:
    "icon-reject icon-confirm";
    padding-bottom: 10rem;
}

.icon-reject,
.icon-confirm {
    position: relative;
    text-align: center;
    object-fit: cover;
}

.icon-confirm {
    width: 7rem;
    height: 7rem;
}

.icon-reject {
    width: 5rem;
    height: 5rem;
}

.icon-wrapper-reject,
.icon-wrapper-confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 75%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 25%;
    left: 0;
    border-radius: var(--br-base);
    overflow: hidden;
}

.icon-wrapper-confirm {
    background-color: var(--color-teal);
}

.icon-wrapper-reject {
    background-color: var(--color-darkslategray);
}


