.grid-container-output-select {
    position: relative;
    top: 24rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 16rem);
    grid-template-rows: repeat(1, 14rem);
    grid-column-gap: 10rem;
    grid-row-gap: 4rem;
    grid-template-areas:
    "icon-reject icon-confirm";
    padding-bottom: 10rem;
}

.output-settings-parent {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: var(--br-base);
    background-color: #4F4F4F;
    width: 38rem;
    height: 7rem;
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: row;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    gap: 2.75rem;
}

.frame-parent-text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: 10rem;
    position: relative;
    width: 100%;
    flex-direction: column;
    text-align: center;
    font-size: 2.25rem;
    color: white;
    font-family: var(--font-jost);
    padding-bottom: 8rem;
}

.text-settings-parent {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: var(--br-base);
    background-color: #4F4F4F;
    width: 46rem;
    height: fit-content;
    min-height: 6rem;
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: row;
    padding: 2rem 1.4rem;
    gap: 2.75rem;
}

.text {
    color: darkgrey;
}

.refresh-icon-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 4rem;
    margin-bottom: 4rem;
    /*right: 86rem;*/
    width: 8rem;
    height: 5.6rem;
    border-radius: var(--br-base);
    background-color: var(--color-darkslategray);
}

.refresh-icon {
    position: relative;
    text-align: center;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}
