.grid-container-payment {
    position: relative;
    top: 14rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 18rem);
    grid-template-rows: repeat(1, 16rem);
    grid-column-gap: 12rem;
    grid-row-gap: 4rem;
    grid-template-areas:
    "money-button time-button shareSomething-button"
    "frame-parent frame-parent frame-parent";
    padding-bottom: 10rem;
}

.hours-settings-parent,
.money-settings-parent {
    border-radius: var(--br-base);
    background-color: #4F4F4F;
    font-size: 2.6rem;
    width: 38rem;
    height: 8rem;
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: space-between;
    gap: 2.75rem;
}

.shareSomething-settings-parent {
    border-radius: var(--br-base);
    background-color: #4F4F4F;
    width: 38rem;
    height: 8rem;
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: center;
    gap: 2.75rem;
}

.share {
    position: absolute;
    text-align: center;
}

.plus-icon-share {
    padding-left: 34rem;
    width: 3.75rem;
    height: 3.75rem;
    object-fit: cover;
}

.minus-icon,
.plus-icon {
    width: 3.75rem;
    height: 3.75rem;
    object-fit: cover;
}

.minus-icon,
.plus-icon,
.stunden {
    position: relative;
}

.frame-parent,
.hours-settings-parent,
.money-settings-parent,
.shareSomething-settings-parent {
    display: flex;
    align-items: center;
}

.grid-container-payment-select {
    position: relative;
    top: 32rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 16rem);
    grid-template-rows: repeat(1, 14rem);
    grid-column-gap: 10rem;
    grid-row-gap: 4rem;
    grid-template-areas:
    "icon-reject icon-confirm";
    padding-bottom: 10rem;
}

.icon-reject,
.icon-confirm {
    position: relative;
    text-align: center;
    object-fit: cover;
}

.icon-confirm {
    width: 7rem;
    height: 7rem;
}

.icon-reject {
    width: 5rem;
    height: 5rem;
}

.icon-wrapper-reject,
.icon-wrapper-confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 75%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 25%;
    left: 0;
    border-radius: var(--br-base);
    overflow: hidden;
}

.icon-wrapper-confirm {
    background-color: var(--color-teal);
}

.icon-wrapper-reject {
    background-color: var(--color-darkslategray);
}





.empty-settings-parent {
    opacity: 0;
    border-radius: var(--br-base);
    background-color: transparent;
    width: 38rem;
    height: 8rem;
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: row;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    justify-content: space-between;
    gap: 2.75rem;
    display: flex;
    align-items: center;
}

.empty-icon {
    opacity: 0;
    width: 3.75rem;
    height: 3.75rem;
    object-fit: cover;
    position: relative;
}

.empty-grid-container-payment-select {
    position: relative;
    top: 32rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 16rem);
    grid-template-rows: repeat(1, 14rem);
    grid-column-gap: 10rem;
    grid-row-gap: 4rem;
    grid-template-areas:
    "icon-reject icon-confirm";
    padding-bottom: 10rem;
}

.icon-wrapper-empty {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 75%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 25%;
    left: 0;
    border-radius: var(--br-base);
    overflow: hidden;
}
