.container{
    width: 100%;
    margin-top: 36rem;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.timeline{
    width: 92rem;
    counter-reset: test 0;
    position: relative;
}

.timeline li{
    list-style: none;
    float: left;
    width: 20%;
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
    font-size: large;
}

ul:nth-child(1){
    color: #4F4F4F;
}

.timeline li:before{
    counter-increment: test;
    content: counter(test);
    width: 50px;
    height: 50px;
    border: 3px solid #4F4F4F;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 50px;
    margin: 0 auto 20px auto;
    background: #4F4F4F;
    color: gray;
    transition: all ease-in-out .3s;
    cursor: pointer;
}

.timeline li:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #4F4F4F;
    top: 25px;
    left: -50%;
    z-index: -999;
    transition: all ease-in-out .3s;
}

.timeline li:first-child:after{
    content: none;
}

.timeline li.active-tl{
    color: var(--white);
}

.timeline li.active-tl:before{
    background: var(--color-teal);
    color: #F1F1F1;
}

.timeline li.active-tl + li:after{
    background: var(--color-teal);
    height: 5px;
}
